@charset "UTF-8";
/* Typical Device Breakpoints */
/* --------------------------------------- */
/* Pequenas Telas - max-width: 600px */
/* Celular - max-width: 768px  */
/* Tablet - max-width: 992px  */
/* Desktop - max-width: 1200px */
/* Tv - min-width: 1200px */

@media print{
    h1{
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    body{
        background-image: none;
    }
    main{
        border: 2px solid black;
        width: 90vw;
    }
    main::after{
        text-align: center;
        font-size: 0.8em;
        color: gray;
        content: "Esse texto é só para impressões, mas só use quando necessário";
        text-decoration: overline;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 768px ) and (max-width: 992px) {   /* Tablet */
    body{
        background-image: url(../Imagens/back-tablet.jpg);
    }
    img{
        margin: auto;display: block;
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){   /* Desktop */
    body{
        background-image: url(../Imagens/back-pc.jpg);
    }
    img{
        margin: auto;display: block;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    
}
@media screen and (min-width: 1200px){   /* TV */
    body{
        background-image: url(../Imagens/back-tv.jpg);
    }
    img{
        margin: auto;display: block;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

    main{
        background-color: rgba(255, 255, 255, 0.941);
        width: 70vw;
        margin: auto;
        margin-top: 20px;
        border-radius:10px;
        padding: 10px;
    }
} 